<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Funicorn Logger</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<style>
    .layui-fluid {padding:0 0 !important;}
    .console-body-head-row{
        height: 100px;
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-header" th:replace="header.html"></div>
    <div class="layui-row layui-col-space16" style="padding: 16px;margin: 0 !important;">
        <div class="layui-col-md4">
            <div class="console-body-head-row">
                <div class="layui-col-md3" style="height: 100%;background-color: #009ABF">
                    <i class="layui-icon layui-icon-template-1" style="color: white;font-size: 50px;padding: 28px;line-height: 100px"></i>
                </div>
                <div class="layui-col-md9" style="color: white;padding: 16px;height: 100%;background-color: #00C0EF">
                    <div style="height: 40px;line-height: 40px;font-size: 16px;font-weight: bold" id="appNum" th:text="${apps.appNum}"></div>
                    <div style="height: 1px;background-color: white"></div>
                    <div style="line-height: 40px">
                        <span>应用模块数</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="console-body-head-row">
                <div class="layui-col-md3" style="height: 100%;background-color: #C27D0E">
                    <i class="layui-icon layui-icon-component" style="color: white;font-size: 50px;padding: 28px;line-height: 100px"></i>
                </div>
                <div class="layui-col-md9" style="color: white;padding: 16px;height: 100%;background-color: #F39C12">
                    <div style="height: 40px;line-height: 40px;font-size: 16px;font-weight: bold" id="nodeNum" th:text="${apps.nodeNum}"></div>
                    <div style="height: 1px;background-color: white"></div>
                    <div style="line-height: 40px">
                        <span>实例数</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="console-body-head-row">
                <div class="layui-col-md3" style="height: 100%;background-color: #008548">
                    <i class="layui-icon layui-icon-face-smile-fine" style="color: white;font-size: 50px;padding: 28px;line-height: 100px"></i>
                </div>
                <div class="layui-col-md9" style="color: white;padding: 16px;height: 100%;background-color: #00A65A">
                    <div style="height: 40px;line-height: 40px;font-size: 16px;font-weight: bold" id="healthNodeNum" th:text="${apps.healthNodeNum}"></div>
                    <div style="height: 1px;background-color: white"></div>
                    <div style="line-height: 40px">
                        <span>健康实例数</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row" style="padding-left: 16px;padding-right: 16px">
        <table id="appdata" lay-filter="app">
            <script type="text/html" id="appInfoBar">
                <a class="layui-btn layui-btn-xs layui-btn-xs layui-btn-primary layui-border-green" lay-event="lookNode">节点信息</a>
                <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-red" lay-event="delete">删除</a>
            </script>
        </table>
    </div>
</div>

<div style="display: none;padding: 16px;" class="layui-row" id="nodeModal">
    <table id="appNodeData" lay-filter="appNode">
        <script type="text/html" id="appNodeBar">
            <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-red" lay-event="delete">删除</a>
        </script>
    </table>
</div>
</body>

<script type="text/javascript"  th:inline="none">
    layui.use(['form','table','jquery','layer'], function () {
        const table = layui.table;
        const $ = layui.jquery;
        const layer = layui.layer;
        const form = layui.form;
        // 动态渲染表格
        const initTable =table.render({
            elem: '#appdata'
            , url: '/appInfo/list' //数据接口
            , method: 'get'
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 200 //规定成功的状态码，默认：0
                , msgName: 'message' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , cols: [[
                {field: 'appName', title: '应用模块', width: 510}
                , {field: 'nodeNum', title: '实例数', width: 500}
                , {field: 'healthNodeNum', title: '健康实例数', width: 200}
                , {title: '操作', toolbar: '#appInfoBar',fixed: 'right'}
            ]]
        });

        //触发行单击事件
        table.on('tool(app)', function (obj) {
            if (obj.event === 'lookNode') {
                //编辑用户
                layer.open({
                    type: 1,
                    content: $('#nodeModal'),
                    area: ["70%", "70%"],
                    title: ['节点信息'],
                    fixed: false,
                    shadeClose: true,
                    success: function (layer,index) {
                        loadNodeTable(obj.data.appName);
                    }
                })
            }
            if (obj.event === 'delete') {
                layer.confirm('确定删除？', function (index) {
                    if (obj.data.healthNodeNum > 0) {
                        layer.msg("存在健康节点，无法删除",{icon: 5});
                    } else {
                        $.ajax({
                            url: '/appInfo/delete/' + obj.data.id,
                            method: 'delete',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'JSON',
                            success: function (res) {
                                if (res.code===200) {
                                    obj.del();
                                    reloadApps();
                                } else {
                                    layer.msg(res.message, {icon: 5});
                                }
                            }
                        });
                    }
                    layer.close(index);
                })
            }
        });

        //触发节点单击事件
        table.on('tool(appNode)', function (obj) {
            if (obj.event === 'delete') {
                layer.confirm('确定删除？', function (index) {
                    if (obj.data.online===1) {
                        layer.msg("该节点在线，无法删除",{icon: 5});
                    } else {
                        $.ajax({
                            url: '/appNode/delete/' + obj.data.id,
                            method: 'delete',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'JSON',
                            success: function (res) {
                                if (res.code===200) {
                                    obj.del();
                                    initTable.reload();
                                    reloadApps();
                                } else {
                                    layer.msg(res.message, {icon: 5});
                                }
                            }
                        });
                    }
                    layer.close(index);
                })
            }
        });

        function reloadApps() {
            $.ajax({
                url: '/appInfo/apps',
                method: 'get',
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                success: function (res) {
                    if (res.code===200) {
                        console.log(res.data)
                        $('#appNum').text(res.data.appNum);
                        $('#nodeNum').text(res.data.nodeNum);
                        $('#healthNodeNum').text(res.data.healthNodeNum);
                    }
                }
            });
        }

        function loadNodeTable(appName) {
            table.render({
                elem: '#appNodeData'
                , url: '/appNode/list' //数据接口
                , method: 'get'
                , where: {
                    appName: appName
                }
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , msgName: 'message' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , cols: [[
                    {field: 'appName', title: '应用模块', width: 249}
                    , {field: 'ip', title: 'IP', width: 180}
                    , {field: 'port', title: '端口', width: 120}
                    , {field: 'online', title: '状态', width: 150, templet: function (data) {
                            if (data.online === 0) {
                                return '<span style="color:red">离&ensp;线</span>';
                            } else {
                                return '<span style="color: #5FB878">在&ensp;线</span>';
                            }
                        }}
                    , {field: 'heartbeatTime', title: '最后心跳时间', width: 180}
                    , {title: '操作', toolbar: '#appNodeBar',fixed: 'right'}
                ]]
            });
        }

        // 校验
        form.verify({
            nickname: function (value) {
                if (!value) {
                    return '请输入昵称';
                }
            },
            username: function (value) {
                if (!value) {
                    return '请输入账号';
                }
            },
            password: function (value) {
                if (!value) {
                    return '请输入密码';
                }
            }
        })

        //监听修改昵称事件
        form.on('submit(editNicknameBtn)',function (data) {
            $.ajax({
                url:'/user/editNickname',
                method: 'post',
                data:  JSON.stringify(data.field),
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                success: function (res) {
                    //关闭弹出层
                    layer.close(layer.index);
                    if (res.code===200) {
                        initTable.reload()
                    } else {
                        layer.msg(res.message)
                    }
                },
                error: function (res) {
                    layer.close(layer.index);
                    layer.msg('服务器异常')
                }
            })
            return false;
        });

        //监听修改密码事件
        form.on('submit(editPwdBtn)',function (data) {
            $.ajax({
                url:'/user/editPwd',
                method: 'post',
                data:  JSON.stringify(data.field),
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                success: function (res) {
                    //关闭弹出层
                    layer.close(layer.index);
                    if (res.code===200) {
                        layer.msg('密码修改成功')
                    } else {
                        layer.msg(res.message)
                    }
                },
                error: function (res) {
                    layer.msg('服务器异常')
                }
            })
            return false;
        });

        //监听查询事件
        form.on('submit(search)',function (data) {
            let startTime;
            let endTime;
            if (data && data.field && data.field.rangeTime) {
                let rangeTime = data.field.rangeTime.split(' - ')
                startTime = rangeTime[0] + ' 00:00:00'
                endTime = rangeTime[1] + ' 23:59:59'
            }
            initTable.reload({
                where: {
                    username: data.field.username,
                    nickname: data.field.nickname
                }})
            return false;
        });

        //监听查询事件
        form.on('submit(addUserBtn)',function (data) {
            $.ajax({
                url:'/user/add',
                method: 'post',
                data:  JSON.stringify(data.field),
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                success: function (res) {
                    //关闭弹出层
                    layer.close(layer.index);
                    if (res.code===200) {
                        initTable.reload()
                    } else {
                        layer.msg(res.message)
                    }
                },
                error: function (res) {
                    layer.msg('服务器异常')
                }
            })
            return false;
        });

        //添加用户点击事件
        $('#addUserBoxBtn').on('click',function (data){
            //添加用户
            layer.open({
                type: 1,
                content: $('#addUserBox'),
                area: ["450px", "350px"],
                title: ['添加用户'],
                fixed: false,
                shadeClose: true,
                success: function () {
                },
                cancel: function () {
                },
            })
        });
    });
</script>
</html>