<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Funicorn Logger</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<style>
    .left-td{background-color: #d9d9d9}
</style>
<body>
<div class="layui-fluid">
    <table class="layui-table">
        <tbody>
        <tr>
            <td class="left-td">客户端标识</td>
            <td th:text="${logInfo.appName}"></td>

            <td class="left-td">请求名称</td>
            <td th:text="${logInfo.content}"></td>
        </tr>

        <tr>
            <td class="left-td">操作类型</td>
            <td th:text="${logInfo.operationType}"></td>

            <td class="left-td">请求时间</td>
            <td th:text="${logInfo.operationTime}"></td>
        </tr>

        <tr>
            <td class="left-td">操作人</td>
            <td th:text="${logInfo.username}"></td>

            <td class="left-td">请求源</td>
            <td th:text="${logInfo.remoteAddr}"></td>
        </tr>

        <tr>
            <td class="left-td">请求路径</td>
            <td th:text="${logInfo.requestUrl}"></td>

            <td class="left-td">请求类型</td>
            <td th:text="${logInfo.requestMethod}"></td>
        </tr>

        <tr>
            <td class="left-td">耗时(ms)</td>
            <td th:text="${logInfo.costTime}"></td>

            <td class="left-td">租户ID</td>
            <td th:text="${logInfo.tenantId}"></td>
        </tr>

        <tr>
            <td class="left-td">函数路径</td>
            <td colspan="3" th:text="${logInfo.functionPath}"></td>
        </tr>
        <tr>
            <td class="left-td">请求参数</td>
            <td colspan="3" th:text="${logInfo.requestParam}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script type="text/javascript">
    layui.use(['form','table','laydate','jquery'], function () {
    });
</script>
</html>